Reading data from files into a data frame
- while reading csv/text file if error occurs, use encoding="utf-8" or "latin1"

In [4]:
import pandas as pd
df1=pd.read_csv("../datasets/sales_data.csv")#reading csv file
print(df1)
df2=pd.read_excel("../datasets/Sample-Employee-Data.xlsx")#reading excel file
print(df2)
df3=pd.read_json("../datasets/US_STATE_recipes.json.zip")#reading json file
print(df3)

     Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0          1052  2023-02-03       Bob  North       5053.97             18
1          1093  2023-04-21       Bob   West       4384.02             17
2          1015  2023-09-21     David  South       4631.23             30
3          1072  2023-08-24       Bob  South       2167.94             39
4          1061  2023-03-24   Charlie   East       3750.20             13
..          ...         ...       ...    ...           ...            ...
995        1010  2023-04-15   Charlie  North       4733.88              4
996        1067  2023-09-07       Bob  North       4716.36             37
997        1018  2023-04-27     David  South       7629.70             17
998        1100  2023-12-20     David   West       1629.47             39
999        1086  2023-08-16     Alice   East       4923.93             48

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0          Furniture     152.75      267.22     Returning      0.09
1          Furniture    3816.39     4209.44     Returning      0.11
2               Food     261.56      371.40     Returning      0.20
3           Clothing    4330.03     4467.75           New      0.02
4        Electronics     637.37      692.71           New      0.08
..               ...        ...         ...           ...       ...
995             Food    4943.03     5442.15     Returning      0.29
996         Clothing    1754.32     1856.40           New      0.21
997         Clothing     355.72      438.27     Returning      0.06
998      Electronics    3685.03     3743.39           New      0.01
999             Food    2632.58     2926.68     Returning      0.14

    Payment_Method Sales_Channel Region_and_Sales_Rep
0             Cash        Online            North-Bob
1             Cash        Retail             West-Bob
2    Bank Transfer        Retail          South-David
3      Credit Card        Retail            South-Bob
4      Credit Card        Online         East-Charlie
..             ...           ...                  ...
995           Cash        Online        North-Charlie
996  Bank Transfer        Retail            North-Bob
997  Bank Transfer        Online          South-David
998  Bank Transfer        Online           West-David
999           Cash        Online           East-Alice

[1000 rows x 14 columns]
    Unnamed: 0                                         Unnamed: 1  \
0          NaN  Sample Excel File with Employee Data for Practice
1          NaN                                                NaN
2          NaN                                               Name
3          NaN                                               Mark
4          NaN                                              Brian
5          NaN                                               Alan
6          NaN                                               Tony
7          NaN                                             Agatha
8          NaN                                               Lana
9          NaN                                            Heather
10         NaN                                                Ben
11         NaN                                            Caitlyn
12         NaN                                              Gibbs
13         NaN                                           Anderson
14         NaN                                            Michael
15         NaN                                              David
16         NaN                                              Jacob
17         NaN                                               John
18         NaN                                           Leonardo
19         NaN                                            Matthew
20         NaN                                              Joana
21         NaN                                               Ross
22         NaN                                               Joey
23         NaN                                               Jack
24         NaN                                                NaN
25         NaN                                       Today's Date
26         NaN                                2022-08-29 00:00:00

             Unnamed: 2     Unnamed: 3  Unnamed: 4      Unnamed: 5  Unnamed: 6
0                   NaN            NaN         NaN             NaN         NaN
1                   NaN            NaN         NaN             NaN         NaN
2          Joining Date  Email Address  Department  Monthly Salary  Job Status
3   2021-12-31 00:00:00            NaN         NaN             NaN         NaN
4   2021-12-31 00:00:00            NaN         NaN             NaN         NaN
5   2022-01-14 00:00:00            NaN         NaN             NaN         NaN
6   2022-01-14 00:00:00            NaN         NaN             NaN         NaN
7   2022-02-01 00:00:00            NaN         NaN             NaN         NaN
8   2022-02-01 00:00:00            NaN         NaN             NaN         NaN
9   2022-08-04 00:00:00            NaN         NaN             NaN         NaN
10  2022-08-04 00:00:00            NaN         NaN             NaN         NaN
11  2022-03-01 00:00:00            NaN         NaN             NaN         NaN
12  2022-03-01 00:00:00            NaN         NaN             NaN         NaN
13  2022-03-01 00:00:00            NaN         NaN             NaN         NaN
14  2022-03-01 00:00:00            NaN         NaN             NaN         NaN
15  2022-03-15 00:00:00            NaN         NaN             NaN         NaN
16  2022-03-15 00:00:00            NaN         NaN             NaN         NaN
17  2022-04-01 00:00:00            NaN         NaN             NaN         NaN
18  2022-04-01 00:00:00            NaN         NaN             NaN         NaN
19  2022-04-17 00:00:00            NaN         NaN             NaN         NaN
20  2022-06-01 00:00:00            NaN         NaN             NaN         NaN
21  2022-07-02 00:00:00            NaN         NaN             NaN         NaN
22  2022-07-15 00:00:00            NaN         NaN             NaN         NaN
23  2022-01-03 00:00:00            NaN         NaN             NaN         NaN
24                  NaN            NaN         NaN             NaN         NaN
25                  NaN            NaN         NaN             NaN         NaN
26                  NaN            NaN         NaN             NaN         NaN
                                                            0     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                    Ground Beef and Cabbage
URL            https://www.allrecipes.com/recipe/229324/groun...
rating                                                       4.5
total_time                                                    60
prep_time                                                     15
cook_time                                                     45
description    This ground beef and cabbage recipe combines l...
ingredients    [1 large head cabbage, finely chopped, 1 (14.5...
instructions   [Place cabbage, tomatoes with juice, onion, It...
nutrients      {'calories': '228 kcal', 'carbohydrateContent'...
serves                                                6 servings

                                                            1     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                Old Fashioned Peach Cobbler
URL            https://www.allrecipes.com/recipe/19897/old-fa...
rating                                                       4.6
total_time                                                   130
prep_time                                                     30
cook_time                                                     70
description    This old-fashioned peach cobbler recipe featur...
ingredients    [2.5 cups all-purpose flour, 4 tablespoons whi...
instructions   [Make crust: Sift together flour, 3 tablespoon...
nutrients      {'calories': '338 kcal', 'carbohydrateContent'...
serves                                               18 servings

                                                            2     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                  St. Louis Toasted Ravioli
URL            https://www.allrecipes.com/recipe/16907/st-lou...
rating                                                       4.5
total_time                                                    25
prep_time                                                     15
cook_time                                                     10
description    Toasted ravioli traces its roots to St. Louis....
ingredients    [1 (16 ounce) jar marinara sauce, 1 large egg,...
instructions   [Heat marinara sauce in a saucepan over medium...
nutrients      {'calories': '374 kcal', 'carbohydrateContent'...
serves                                                6 servings

                                                            3     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                             Amish Friendship Bread Starter
URL            https://www.allrecipes.com/recipe/7063/amish-f...
rating                                                       4.7
total_time                                                 14440
prep_time                                                     30
cook_time                                                   None
description    Amish friendship bread starter is made with ye...
ingredients    [1 (.25 ounce) package active dry yeast, 0.25 ...
instructions   [Dissolve yeast in warm water in a small bowl;...
nutrients      {'calories': '34 kcal', 'carbohydrateContent':...
serves                                              120 servings

                                                            4     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                               Simple Fried Morel Mushrooms
URL            https://www.allrecipes.com/recipe/220833/simpl...
rating                                                       4.7
total_time                                                    30
prep_time                                                     20
cook_time                                                     10
description    The rich, meaty flavor of fresh morel mushroom...
ingredients    [1 pound fresh morel mushrooms - dirt gently b...
instructions   [Place halved morel mushrooms in a large bowl;...
nutrients      {'calories': '185 kcal', 'carbohydrateContent'...
serves                                                4 servings

                                                            5     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                Big Al's K.C. Bar-B-Q Sauce
URL            https://www.allrecipes.com/recipe/44491/big-al...
rating                                                       4.8
total_time                                                    35
prep_time                                                     15
cook_time                                                     20
description    This is a Kansas City-style BBQ sauce recipe s...
ingredients    [2 cups ketchup, 2 cups tomato sauce, 1.25 cup...
instructions   [Mix together ketchup, tomato sauce, brown sug...
nutrients      {'calories': '46 kcal', 'carbohydrateContent':...
serves                                               48 servings

                                                            6     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                       Lemon Zucchini Bread
URL            https://www.allrecipes.com/recipe/58817/lemon-...
rating                                                       4.6
total_time                                                    60
prep_time                                                     15
cook_time                                                     45
description    Lemon zest adds a touch of summer to this swee...
ingredients    [1.5 cups shredded zucchini, 0.75 cup white su...
instructions   [Preheat oven to 325 degrees F (165 degrees C)...
nutrients      {'calories': '195 kcal', 'carbohydrateContent'...
serves                                               12 servings

                                                            7     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                         Springfield Style Cashew Chicken I
URL            https://www.allrecipes.com/recipe/9009/springf...
rating                                                       4.4
total_time                                                    35
prep_time                                                     15
cook_time                                                     20
description    Fried chicken is topped with an Asian-style mi...
ingredients    [4 skinless, boneless chicken breasts, 2 cups ...
instructions   [Cut the chicken breasts into 1 inch pieces. I...
nutrients      {'calories': '652 kcal', 'carbohydrateContent'...
serves                                                6 servings

                                                            8     \
Contient                                                  Africa
Country_State                                               None
cuisine                                                 Missouri
title                                      Kansas City Ice Water
URL            https://www.allrecipes.com/recipe/51923/kansas...
rating                                                       4.5
total_time                                                     2
prep_time                                                      2
cook_time                                                   None
description    Citrus flavors are blended with gin and vodka....
ingredients    [1 fluid ounce gin, 1 fluid ounce vodka, 0.5 f...
instructions   [Combine the gin, vodka, lime juice, and tripl...
nutrients                                                     {}
serves                                                 1 serving

                                                            9     ...  \
Contient                                                  Africa  ...
Country_State                                               None  ...
cuisine                                                 Missouri  ...
title                                      St. Louis Pork Steaks  ...
URL            https://www.allrecipes.com/recipe/73669/st-lou...  ...
rating                                                       4.0  ...
total_time                                                    35  ...
prep_time                                                     10  ...
cook_time                                                     25  ...
description    Grilled pork steaks are juicy and tender in th...  ...
ingredients    [5 pork shoulder steaks, 0.125 teaspoon season...  ...
instructions   [Preheat an outdoor grill for medium-low heat ...  ...
nutrients      {'calories': '517 kcal', 'carbohydrateContent'...  ...
serves                                                5 servings  ...

                                                            3753  \
Contient                                                  Africa
Country_State                                               None
cuisine                                                  Montana
title                                        The Humble Shepherd
URL            https://www.allrecipes.com/recipe/76519/the-hu...
rating                                                       4.4
total_time                                                    80
prep_time                                                     30
cook_time                                                     50
description    A twist on the original shepherd's pie using g...
ingredients    [cooking spray, 1.5 pounds russet potatoes, pe...
instructions   [Preheat an oven to 350 degrees F (175 degrees...
nutrients      {'calories': '567 kcal', 'carbohydrateContent'...
serves                                                6 servings

                                                            3754  \
Contient                                                  Africa
Country_State                                               None
cuisine                                                  Montana
title                              Easy Slow Cooker Venison Stew
URL            https://www.allrecipes.com/recipe/32081/easy-s...
rating                                                       4.5
total_time                                                   490
prep_time                                                     10
cook_time                                                    480
description    An easy slow cooker stew made with venison and...
ingredients    [2 pounds venison stew meat, 1 (10.75 ounce) c...
instructions   [In a slow cooker, combine venison, cream of m...
nutrients      {'calories': '278 kcal', 'carbohydrateContent'...
serves                                                6 servings

                                                            3755  \
Contient                                                  Africa
Country_State                                               None
cuisine                                                  Montana
title                                   Fennel in Wine and Honey
URL            https://www.allrecipes.com/recipe/95546/fennel...
rating                                                       4.1
total_time                                                    60
prep_time                                                     15
cook_time                                                     45
description    A great side dish for fennel lovers, originall...
ingredients    [4 fennel bulbs, trimmed and quartered, 0.25 c...
instructions   [Place the fennel quarters in large deep skill...
nutrients      {'calories': '133 kcal', 'carbohydrateContent'...
serves                                                8 servings

                                                            3756  \
Contient                                                  Africa
Country_State                                               None
cuisine                                                  Montana
title          Spinach and Goat Cheese Salad with Beetroot Vi...
URL            https://www.allrecipes.com/recipe/46492/spinac...
rating                                                       4.7
total_time                                                    30
prep_time                                                     25
cook_time                                                      5
description    A beet vinaigrette is drizzled over baby spina...

Create a dataframe and save it as a file

In [ ]:
data={
    "Name":["Alex","Jacob","Elsa","Joy","John"],
    "Age":[22,34,19,26,17],
    "City":["Delhi","Pune","Surat","Mumbai","Kolkata"]
}
df=pd.DataFrame(data)#dataframe created
print(df)

df.to_csv("data.csv")#file saved as csv (comma separated values)
df.to_excel("data.xlsx")#file saved as excel
df.to_json("data.json")#file saved as json

    Name  Age     City
0   Alex   22    Delhi
1  Jacob   34     Pune
2   Elsa   19    Surat
3    Joy   26   Mumbai
4   John   17  Kolkata

To display rows of the dataset
- head(), shows the starting rows of data
- tail(), shows the ending rows of data

In [18]:
print(df1.head())#if int value is not pass,it shows 5 rows by default
print(df1.head(7))

print(df1.tail())#if int value is not pass,it shows 5 rows by default
print(df1.tail(6))

   Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  2023-02-03       Bob  North       5053.97             18
1        1093  2023-04-21       Bob   West       4384.02             17
2        1015  2023-09-21     David  South       4631.23             30
3        1072  2023-08-24       Bob  South       2167.94             39
4        1061  2023-03-24   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie
   Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  2023-02-03       Bob  North       5053.97             18
1        1093  2023-04-21       Bob   West       4384.02             17
2        1015  2023-09-21     David  South       4631.23             30
3        1072  2023-08-24       Bob  South       2167.94             39
4        1061  2023-03-24   Charlie   East       3750.20             13
5        1021  2023-02-11   Charlie   West       3761.15             32
6        1083  2023-04-11       Bob   West        618.31             29

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08
5             Food     900.79     1106.51           New      0.21
6        Furniture    2408.81     2624.09     Returning      0.14

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie
5           Cash        Online         West-Charlie
6           Cash        Online             West-Bob
     Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
995        1010  2023-04-15   Charlie  North       4733.88              4
996        1067  2023-09-07       Bob  North       4716.36             37
997        1018  2023-04-27     David  South       7629.70             17
998        1100  2023-12-20     David   West       1629.47             39
999        1086  2023-08-16     Alice   East       4923.93             48

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
995             Food    4943.03     5442.15     Returning      0.29
996         Clothing    1754.32     1856.40           New      0.21
997         Clothing     355.72      438.27     Returning      0.06
998      Electronics    3685.03     3743.39           New      0.01
999             Food    2632.58     2926.68     Returning      0.14

    Payment_Method Sales_Channel Region_and_Sales_Rep
995           Cash        Online        North-Charlie
996  Bank Transfer        Retail            North-Bob
997  Bank Transfer        Online          South-David
998  Bank Transfer        Online           West-David
999           Cash        Online           East-Alice
     Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
994        1068  2023-04-06     Alice  South       9093.50             31
995        1010  2023-04-15   Charlie  North       4733.88              4
996        1067  2023-09-07       Bob  North       4716.36             37
997        1018  2023-04-27     David  South       7629.70             17
998        1100  2023-12-20     David   West       1629.47             39
999        1086  2023-08-16     Alice   East       4923.93             48

    Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
994         Clothing    3169.37     3304.15     Returning      0.25
995             Food    4943.03     5442.15     Returning      0.29
996         Clothing    1754.32     1856.40           New      0.21
997         Clothing     355.72      438.27     Returning      0.06
998      Electronics    3685.03     3743.39           New      0.01
999             Food    2632.58     2926.68     Returning      0.14

    Payment_Method Sales_Channel Region_and_Sales_Rep
994    Credit Card        Retail          South-Alice
995           Cash        Online        North-Charlie
996  Bank Transfer        Retail            North-Bob
997  Bank Transfer        Online          South-David
998  Bank Transfer        Online           West-David
999           Cash        Online           East-Alice

To get the summary or info of dataset
- info()

In [22]:
print("Displaying the info of dataset:")
print(df1.info())
print(df.info())

Displaying the info of dataset:
<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Product_ID            1000 non-null   int64
 1   Sale_Date             1000 non-null   str
 2   Sales_Rep             1000 non-null   str
 3   Region                1000 non-null   str
 4   Sales_Amount          1000 non-null   float64
 5   Quantity_Sold         1000 non-null   int64
 6   Product_Category      1000 non-null   str
 7   Unit_Cost             1000 non-null   float64
 8   Unit_Price            1000 non-null   float64
 9   Customer_Type         1000 non-null   str
 10  Discount              1000 non-null   float64
 11  Payment_Method        1000 non-null   str
 12  Sales_Channel         1000 non-null   str
 13  Region_and_Sales_Rep  1000 non-null   str
dtypes: float64(4), int64(2), str(8)
memory usage: 109.5 KB
None
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      str
 1   Age     5 non-null      int64
 2   City    5 non-null      str
dtypes: int64(1), str(2)
memory usage: 252.0 bytes
None

To get statistical summary of dataset
- describe(), by default includes only numeric columns
- describe(include="all"), includes all columns
- describe(include="object"), includes only categorical columns

In [119]:
data2={
    "Name":["Aliza","Sofiya","Joe","Joe","John"],
    "Age":[23,34,45,22,26],
    "Salary":[38000,45000,25000,67000,54000],
    "Performance":[57,60,80,46,92]
}
dF=pd.DataFrame(data2)
print(dF)
print(dF.describe())
print(dF.describe(include="object"))
print(dF.describe(include="all"))

     Name  Age  Salary  Performance
0   Aliza   23   38000           57
1  Sofiya   34   45000           60
2     Joe   45   25000           80
3     Joe   22   67000           46
4    John   26   54000           92
             Age        Salary  Performance
count   5.000000      5.000000     5.000000
mean   30.000000  45800.000000    67.000000
std     9.617692  15896.540504    18.601075
min    22.000000  25000.000000    46.000000
25%    23.000000  38000.000000    57.000000
50%    26.000000  45000.000000    60.000000
75%    34.000000  54000.000000    80.000000
max    45.000000  67000.000000    92.000000
       Name
count     5
unique    4
top     Joe
freq      2
       Name        Age        Salary  Performance
count     5   5.000000      5.000000     5.000000
unique    4        NaN           NaN          NaN
top     Joe        NaN           NaN          NaN
freq      2        NaN           NaN          NaN
mean    NaN  30.000000  45800.000000    67.000000
std     NaN   9.617692  15896.540504    18.601075
min     NaN  22.000000  25000.000000    46.000000
25%     NaN  23.000000  38000.000000    57.000000
50%     NaN  26.000000  45000.000000    60.000000
75%     NaN  34.000000  54000.000000    80.000000
max     NaN  45.000000  67000.000000    92.000000

C:\Users\abhit\AppData\Local\Temp\ipykernel_20160\2673676836.py:10: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  print(dF.describe(include="object"))

To know the no. of rows & columns, and column names use attributes like
- shape, gives the no. of rows & coulmns
- columns, gives the name of columns

In [33]:
print("No. of rows & coulmns in dataset: ",dF.shape)
print("Names of columns: ",dF.columns)

No. of rows & coulmns in dataset:  (5, 4)
Names of columns:  Index(['Name', 'Age', 'Salary', 'Performance'], dtype='str')

To select specific column and filtering rows

In [41]:
print(dF["Name"])#selecting single column
print(dF[["Name","Age","Salary"]])#selecting multiple columns
print(dF[dF["Salary"]>30000])#filtering single row
print(dF[(dF["Salary"]>30000)&(dF["Salary"]<50000)])#filtering multiple rows

0     Aliza
1    Sofiya
2       Joe
3       Joe
4      John
Name: Name, dtype: str
     Name  Age  Salary
0   Aliza   23   38000
1  Sofiya   34   45000
2     Joe   45   25000
3     Joe   22   67000
4    John   26   54000
     Name  Age  Salary  Performance
0   Aliza   23   38000           57
1  Sofiya   34   45000           60
3     Joe   22   67000           46
4    John   26   54000           92
     Name  Age  Salary  Performance
0   Aliza   23   38000           57
1  Sofiya   34   45000           60

Modifying the data
- adding columns
- updating values
- removing rows or columns

In [120]:
dF["Bonus"]=dF["Salary"]*0.1#adding column via assignment
print(dF)
dF.insert(0,"ID",[101,102,103,104,105])#adding column via insert(index,column_name,data)
print(dF)
dF.loc[1,'Salary']=50000#updating value using .loc[row_idx,"column_name"]=assign value
print(dF)
dF['Salary']=dF['Salary']*0.5#updating multiple values
print(dF)
dF.drop(columns=["Performance"],inplace=True)#removing columns
print(dF)
dF.drop(3,axis=0,inplace=True)#removing rows, passing the index,axis=0 for rows
print(dF)

     Name  Age  Salary  Performance   Bonus
0   Aliza   23   38000           57  3800.0
1  Sofiya   34   45000           60  4500.0
2     Joe   45   25000           80  2500.0
3     Joe   22   67000           46  6700.0
4    John   26   54000           92  5400.0
    ID    Name  Age  Salary  Performance   Bonus
0  101   Aliza   23   38000           57  3800.0
1  102  Sofiya   34   45000           60  4500.0
2  103     Joe   45   25000           80  2500.0
3  104     Joe   22   67000           46  6700.0
4  105    John   26   54000           92  5400.0
    ID    Name  Age  Salary  Performance   Bonus
0  101   Aliza   23   38000           57  3800.0
1  102  Sofiya   34   50000           60  4500.0
2  103     Joe   45   25000           80  2500.0
3  104     Joe   22   67000           46  6700.0
4  105    John   26   54000           92  5400.0
    ID    Name  Age   Salary  Performance   Bonus
0  101   Aliza   23  19000.0           57  3800.0
1  102  Sofiya   34  25000.0           60  4500.0
2  103     Joe   45  12500.0           80  2500.0
3  104     Joe   22  33500.0           46  6700.0
4  105    John   26  27000.0           92  5400.0
    ID    Name  Age   Salary   Bonus
0  101   Aliza   23  19000.0  3800.0
1  102  Sofiya   34  25000.0  4500.0
2  103     Joe   45  12500.0  2500.0
3  104     Joe   22  33500.0  6700.0
4  105    John   26  27000.0  5400.0
    ID    Name  Age   Salary   Bonus
0  101   Aliza   23  19000.0  3800.0
1  102  Sofiya   34  25000.0  4500.0
2  103     Joe   45  12500.0  2500.0
4  105    John   26  27000.0  5400.0

To handle missing data
- isnull(), gives True/False according to missing values
- dropna(), removes the missing values
- fillna(), fill the values
- interpolate(), replace the missing values with estimated values

In [ ]:
data3={
    "Name":["Aliza","Sofiya","Joe","Joe","John"],
    "Age":[23,34,45,22,26],
    "Salary":[38000,None,25000,67000,54000],
    "Performance":[57,60,80,None,None]
}
dF3=pd.DataFrame(data3)
print(dF3)
print(dF3.isnull())
print(dF3.isnull().sum())#gives count of all null values
#dF3.dropna(axis=0,inplace=True)#removes null values from rows
#print(dF3)
#dF3.dropna(inplace=True)#removes the entire rows containing null values in any column
#print(dF3)
#dF3.fillna(0,inplace=True)#filled with any default value
#print(dF3)
'''dF3.fillna({'Salary':dF3['Salary'].mean()},inplace=True)
dF3.fillna({'Performance':dF3['Performance'].mean()},inplace=True)'''
# dF3['Salary']=dF3['Salary'].fillna(dF3['Salary'].mean(),inplace=True)
# dF3['Performance']=dF3['Performance'].fillna(dF3['Performance'].mean(),inplace=True)

dF3['Salary']=dF3['Salary'].interpolate()
dF3['Performance']=dF3['Performance'].interpolate(method="linear",axis=0)#other methods are time, polynomial etc.
print(dF3)

     Name  Age   Salary  Performance
0   Aliza   23  38000.0         57.0
1  Sofiya   34      NaN         60.0
2     Joe   45  25000.0         80.0
3     Joe   22  67000.0          NaN
4    John   26  54000.0          NaN
    Name    Age  Salary  Performance
0  False  False   False        False
1  False  False    True        False
2  False  False   False        False
3  False  False   False         True
4  False  False   False         True
Name           0
Age            0
Salary         1
Performance    2
dtype: int64
     Name  Age   Salary  Performance
0   Aliza   23  38000.0         57.0
1  Sofiya   34  31500.0         60.0
2     Joe   45  25000.0         80.0
3     Joe   22  67000.0         80.0
4    John   26  54000.0         80.0

Sorting and Aggregation
- sort_values(), to sort the values in ascending/descending
- aggregation methods like sum(),mean(),std(),min(),max(),count()
- groupby(), to group the columns

In [ ]:
data4={
    "Name":["Fredrik","Tiya","Alex","Olivia","Johnsy"],
    "Age":[23,34,34,23,26],
    "Salary":[58000,67000,25000,67000,54000],
    
}
dF4=pd.DataFrame(data4)
print(dF4)
dF4.sort_values(by='Name',ascending=True,inplace=True)
dF4.sort_values(by=['Age','Salary'],ascending=False,inplace=True)
print(dF4)
#Aggregation
print("Aggregation of data")
print(dF4['Salary'].mean())
print(dF4['Age'].max())
print(dF4['Salary'].min())
#data grouping
group=dF4.groupby('Age')['Salary'].sum()
print(group)
group=dF4.groupby(['Age','Name'])['Salary'].sum()#grouping with multiple columns
print(group)

      Name  Age  Salary
0  Fredrik   23   58000
1     Tiya   34   67000
2     Alex   34   25000
3   Olivia   23   67000
4   Johnsy   26   54000
      Name  Age  Salary
1     Tiya   34   67000
2     Alex   34   25000
4   Johnsy   26   54000
3   Olivia   23   67000
0  Fredrik   23   58000
Aggregation of data
54200.0
34
25000
Age
23    125000
26     54000
34     92000
Name: Salary, dtype: int64
Age  Name
23   Fredrik    58000
     Olivia     67000
26   Johnsy     54000
34   Alex       25000
     Tiya       67000
Name: Salary, dtype: int64

Merging and joining
- pd.merge(), join data by key
- pd.concat(), vertical/horizontal stacking

In [177]:
customers=pd.DataFrame({
    "CustomerID":[1,2,3,4],
    "CustomerName":["Amit","Sumit","Kiran","Pushpa"]
})
orders=pd.DataFrame({
    "CustomerID":[1,2,3,5,6],
    "OrderAmount":[999,580,260,1500,1240]
})
merged=pd.merge(customers,orders,on="CustomerID",how="inner")
print("Inner Join")
print(merged)
merged2=pd.merge(customers,orders,on="CustomerID",how="outer")
print("Outer Join")
print(merged2)
merged3=pd.merge(customers,orders,on="CustomerID",how="left")
print("Left Join")
print(merged3)
merged4=pd.merge(customers,orders,on="CustomerID",how="right")
print("Right Join")
print(merged4)
#Concatenation 
print("Concatenation of dataframes:")
concated=pd.concat([customers,orders],axis=1,ignore_index=True)
print(concated)

Inner Join
   CustomerID CustomerName  OrderAmount
0           1         Amit          999
1           2        Sumit          580
2           3        Kiran          260
Outer Join
   CustomerID CustomerName  OrderAmount
0           1         Amit        999.0
1           2        Sumit        580.0
2           3        Kiran        260.0
3           4       Pushpa          NaN
4           5          NaN       1500.0
5           6          NaN       1240.0
Left Join
   CustomerID CustomerName  OrderAmount
0           1         Amit        999.0
1           2        Sumit        580.0
2           3        Kiran        260.0
3           4       Pushpa          NaN
Right Join
   CustomerID CustomerName  OrderAmount
0           1         Amit          999
1           2        Sumit          580
2           3        Kiran          260
3           5          NaN         1500
4           6          NaN         1240
Concatenation of dataframes:
     0       1  2     3
0  1.0    Amit  1   999
1  2.0   Sumit  2   580
2  3.0   Kiran  3   260
3  4.0  Pushpa  5  1500
4  NaN     NaN  6  1240