In [9]:
import pandas as pd
df=pd.DataFrame({
    "Student_ID":[101,102,103,104,105,106],
    "Name":['Aarav','Diya','Kabir','Meera','Rohan','Isha'],
    "Department":['CSE','ECE','CSE','ME','ECE','CSE'],
    "Marks_Math":[78,65,88,72,None,90],
    "Marks_AI":[85,70,92,None,68,95],
    "Marks_DS":[80,None,89,75,70,94],
    "Attendance(%)":[92,85,96,88,80,98],
    "Exam_Date":['2024-03-10','2024-03-10','2024-03-11','2024-03-11','2024-03-12','2024-03-12']
})
print(df)

   Student_ID   Name Department  Marks_Math  Marks_AI  Marks_DS  \
0         101  Aarav        CSE        78.0      85.0      80.0
1         102   Diya        ECE        65.0      70.0       NaN
2         103  Kabir        CSE        88.0      92.0      89.0
3         104  Meera         ME        72.0       NaN      75.0
4         105  Rohan        ECE         NaN      68.0      70.0
5         106   Isha        CSE        90.0      95.0      94.0

   Attendance(%)   Exam_Date
0             92  2024-03-10
1             85  2024-03-10
2             96  2024-03-11
3             88  2024-03-11
4             80  2024-03-12
5             98  2024-03-12

Data Cleaning

In [11]:
df['Exam_Date']=pd.to_datetime(df['Exam_Date'])#convert string date column to datetime format
print(df['Exam_Date'])
df.isnull().sum()
df['Marks_Math']=df['Marks_Math'].fillna(df['Marks_Math'].mean())

0   2024-03-10
1   2024-03-10
2   2024-03-11
3   2024-03-11
4   2024-03-12
5   2024-03-12
Name: Exam_Date, dtype: datetime64[us]